main{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 100px 50px 650px 100px ;
    grid-template-columns: 100%;
}
header{
    grid-row: 1;
    text-align: center;
    line-height: 50%;
   background-color:  #42c920;
}
header>h1{
    text-align: center;
    color: black;
    line-height: 60%;
    text-shadow: 1px 2px 2px white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 50px;
}
nav{
    grid-row: 2;
    background-color: black;
    padding: 10px;
    display:flex;
    justify-content: center;
}
nav>a{
    border: 2px solid #42C920FF;
    color: #42c920;
    background-color: black;
    padding: 2px;
    margin-left: 20px;
    margin-right: 20px;
}
div.central{
    grid-row: 3;
    background-color: black;
}
div.central>p{
    color: #42c920;
}
div.contacto>p{
    color: #42c920;
    position: absolute;
    left:1600px ;
    top: 600px;
    font-size: 20px;
}

div>ul{
    color: #42c920;
    position: absolute;
    top: 635px;
    left: 1600px;
}
li{
    margin-bottom: 10px;
}
div.pdf{
    width: 60%;
    height: 80%;
    position: absolute;
    right: 600px;
    top: 300px;
}
footer{
    grid-row: 4;
    background-color: #42c920;
}
footer>p{
    text-shadow: 1px 2px 2px white;
    animation: mover 7s infinite;
    font-weight: bolder;
    color: black;
    font-size: 30px;
    line-height: 60%;
    
}
@keyframes mover {
    from{
        transform: translateX(0px);
    }
    to{
        transform: translateX(69%);
    }
}
hr{
    border-color: #42c920;
}