*{
    background: black;
}
header{
    height: 20%;
    width: 100%;
    text-align: center;
    line-height: 50%;
    font-size: 10px;
}
header>h1{
    text-align: center;
    color: #42C920FF;
    line-height: 60%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 50px;
}
nav{
    height: 10%;
    width: 100%;
    background-color: black;
    padding: 10px;
    display:flex;
    justify-content: center;
}
nav>a{
    border: 2px solid #42C920FF;
    color: #42c920;
    background-color: black;
    padding: 2px;
    margin-left: 20px;
    margin-right: 20px;
}
a>img{
    height: 50px;
    width: 50px;
}
aside>ul>li>img{
    height: 100px;
    width: 100px;
}
div.central{
    height: 50%;
    width: 80%;
    background-color: black;
}
div.central>p{
    color: #42c920;
}
div.contacto>p{
    color: #42c920;
    left:80% ;
    top: 95%;
    font-size: 20px;
}

div>ul{
    color: #42c920;
    top: 100%;
    left: 80%;
}
li{
    margin-bottom: 10px;
}
div.pdf{
    width: 1000px;
    height: 650px;
}
.p{
    height: 600px;
    width: 1000px;
}
footer{
    height: 10%;
    width: 100%;
    text-align: center;
    display: inline;
}
footer>p{
    font-weight: bolder;
    color: #42c920;
    font-size: 30px;
    line-height: 60%;
    position: absolute;
    top: 145%;
    right: 70%;
    text-align: center;
}
hr{
    border-color: #42c920;
}
aside{
    position: absolute;
    right: 0%;
    top: 60%;
    display: block;
    margin-right: 20px;
}
h3{
    color: #42c920;
    text-align: center;
}
